*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    /* Light mode colors */
    --background-color: #ffffff;
    --text-color: #000000;
    --card-color: rgba(242, 244, 245, 0.432);
    --nav-color: white;
    
    --shadow-color:  rgba(0, 0, 0, 0.267);
  


}

a{
    text-decoration: none;
}

.nav-items ul li a {
   color:white;
}
.nav-items ul li:hover {
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 5px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.header{
    color:var(--text-color);
    background-color: var(--nav-color);
    box-shadow: 1px 1px 10px var(--shadow-color);
    position:fixed;
    width:100%;
    z-index:10;
    border-bottom:1px solid white;
}

.header-container{
       max-width:1300px;
    margin: 0 auto;
 
  
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo{

    cursor:pointer;
    width:80px;
}





.nav-items ul {
    display: flex;
    list-style-type:none;
    align-items: center;
    justify-content: center;
    gap:10px;

}

.nav-items > ul > li {
   
    padding: 10px;
    cursor: pointer;
}

.login-btn{
    background-color: blue;
    color:white;
    padding:5px 10px;
    border:none;
    border-radius:6px;
    cursor: pointer;
}
.logout-btn{
    background-color: red;
    color:white;
    padding:5px 10px;
    border:none;
    border-radius:6px;
    cursor: pointer;
}

.container{
    
    padding-top: 80px;
    max-width:1300px;
    margin: 0 auto;
}

.res-cards-container{
    display: flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content: space-between;
    padding-bottom:40px;
    

}

.res-card{
    color:var(--text-color);
    width:310px;
    min-height:360px;
    background-color: var(--card-color);
    border-radius:10px;
 

    transition:all 0.3s;

 
    border-radius: 4px;
    overflow: hidden;
    
    
}

.res-card:hover{
    transform: scale(1.03);
    cursor: pointer;
    /* border:1px solid rgb(190, 190, 190); */
    box-shadow: 1px 1px 10px var(--shadow-color);
   
}

.filter-and-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    flex-wrap:wrap;
    padding:10px;
}

.filter{
    /* padding:10px   ; */
    display: flex;
    gap:15px;
    align-items: center;
    flex-wrap:wrap
}

.search{

    height:100%;
    input{
        height:100%;
        padding:8px 10px;
        border:none;
        border-radius:5px 0px 0px 5px ;
        background-color: aliceblue;
    }

    input:focus{
        outline:none;
        /* outline:2px solid coral; */
        /* border:2px solid #b160f7; */
    }

    .search-btn{
        background-color: rgb(176, 0, 246);
        color:white;
        border:none;
        cursor: pointer;
        border-radius:0px 5px 5px 0 ;
        height: 100%;
        padding:8px 10px  ;
    }


}



.filter-btn{
    padding:8px 10px;
  
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

.clear-btn{
    background-color: #C58AF9;

}
.clear-btn:hover{
    background-color: #b160f7;
}

.top-btn{
    background-color:coral;
}

.top-btn:hover{
    background-color: rgb(255, 109, 55);
}

.low-btn{
    background-color: red;
}

.low-btn:hover{
    background-color: crimson;
}

.res-card{
    padding:10px;
}

.res-img{
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius:10px;
/* 
 background-color:  #f0f0f0;;
    animation: shimmer 1.5s infinite; */
  
}

.res-text,.res-img{
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}


.shimmer-title {
    width: 60%;
    height: 20px;
    margin: 10px 0;
}

.shimmer-cuisine,
.shimmer-rating,
.shimmer-time,
.shimmer-status {
    width: 40%;
    height: 15px;
    margin: 5px 0;
}

.restaurant-title{
   border-left:5px solid coral;
    padding-left:15px;
    margin-top:20px;
}

.res-cuisine{
    margin-left: 20px;
}

.item-card{
    min-height:170px;
    margin:4px 20px;
    background-color: var(--card-color);
    list-style-type:none;
    padding: 10px;
    /* border: 9px solid var(--card-color); */
    border:1px solid coral;
    border-radius:10px;
    display: flex;
    gap:15px;
    margin-bottom:10px;
    justify-content: space-between;
    align-items: center;

    div{
        h4{ 
            
            font-size:18px;
            margin-bottom:5px;
            span{
                font-size:13px;
                margin-left:5px;
                margin-right:5px;
                /* border:1px solid red; */
                background-color: var(--nav-color);
                padding:3px;
                border-radius: 3px;;
            }
        }
    }

}

.food-desc{
    max-width:700px;
    text-align:justify;
    font-size:13px;
    margin:5px 0px 5px 0px;
}

.food-rating{
    /* background-color: red; */
    font-size:11px;
}

.food-img{
    width:150px;
    height:150px;
    object-fit: cover;
    border-radius:5px;
}

.food-price{
    font-size:15px;
    margin-top:5px;
    font-weight: bold;
    color:aqua;

}



@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.grey{
    color:#888888;
}




@media  (max-width: 1000px) {
    .res-cards-container{
        display: flex;
        flex-wrap:wrap;
        gap:20px;
        justify-content: center;
    }

    .res-card{
        width:300px;
        height:350px;
    }

    .header-container{
        padding: 0 10px;
    }

    .search{
        padding-top:10px;
        margin:0 auto;
        padding-bottom: 10px;;
      }


}

@media(max-width:440px){
    .about,.contact{
        display: none;
    }

    .nav-items{
        ul{
            gap:0px;
        }
    }

 
    
}


     

